.nav-bar-desktop__container {
  display: none;
}

@media (min-width: 1024px) {
  .nav-bar-desktop__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-desktop__logo{
    height: auto;
    max-width: 80%;
    margin-left: 40px;
  }

  .nav-bar-desktop__ul {
    display: flex;
    list-style: none;
    margin-right: 2em;
  }

  .nav-bar-desktop__links {
    color: $whiteColor;
    font-size: $subTitleSize;
    font-weight: bold;
    text-decoration: none;
    padding: 1em;
    
    &:hover {
      color: $whiteColor;
      text-decoration: underline $pinkBtnColor;
    }
  }
}

@media (min-width: 2560px) {
  .nav-bar-desktop__container {
    padding-top: 1em;
  }
  .nav-bar-desktop__logo{
    height: auto;
    max-width: 100%;
    margin-left: 550px;
  }
  .nav-bar-desktop__ul {
    font-size: 1.5em;
    margin-right: 550px;
  }
}

