// All the base configuration of the page: primary colors, sizes, typography, fonts.

//Colors
$whiteColor: #FFFFFF;
$greenColor: #0B5B67;
$pinkBgColor: #F6BABA;
$pinkBtnColor: #E89292;
$yellowColor: #FBDD8E;
$alphaPinkBtnColor: rgba(232, 146, 146, 0.5);

//Fonts
$alternativeFont: 'Bungee', cursive;
$titleSize: 2.5em;
$navLinksSize: 2em;
$subTitleSize: 1.5em;
$cartSize: 1em;
$paragraphSize: 0.5em;